* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.horizontal-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

body {
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    margin: 1em auto;
    max-width: 800px;
}

button {
    line-height: 3.5;
    font-size: 2rem;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 1.6;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}